.top-bar {
    display: grid; 
    grid-template-columns: repeat(20, 1fr); 
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000; 
    opacity: 0.75;
    margin: 0px 20px 30px 30px; 
    padding: 0; 
    align-items: center;
    grid-template-areas: "About Store . . . . . . . . . . . . .  . Gmail Images Apps ProfilePicture";
}

.About {
    grid-area: About; 
    justify-self: center;
}

.Store{
    grid-area: Store;
    justify-self: left;
}

.Gmail{
    grid-area: Gmail;
    justify-self: right;
}

.Images {
    grid-area: Images;
    justify-self: right;
}

.logo-and-search {
    position: relative; 
    top: 130px;
}

.Apps {
    grid-area: Apps; 
    display: grid;
    grid-template-columns: repeat(3,4px); 
    grid-template-rows: repeat(3,4px);
    grid-gap: 3px; 
    justify-self: center; 
}

.ProfilePicture {
    grid-area: ProfilePicture; 
    width: 40px; 
    height: 40px; 
    position: relative; 
    overflow: hidden; 
    border-radius: 50%;
}

.myProfilePicture { 
    width: auto; 
    display: inline; 
    height: 100%; 
   margin-right: 0 auto;
}

#search-button {
    display: inline-block; 
    margin-left: 41vw; 
    margin-top: 30px; 
    border: none; 
    height: 25px; 
    width: 150px; 
    background-color: #f8f9fa; 
}

#lucky-button {
    display: inline-block; 
    margin-left: 2vw; 
    border: none; 
    height: 25px; 
    width: 150px; 
    background-color: #f8f9fa; 
}

#google-logo {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

#searchbar {
    display: block; 
    border-radius: 25px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 30px;
    width: 25vw; 
    height: 4vh; 
    border: solid; 
    border-color: Gainsboro; 
    border-width: thin;
    padding-left: 5vh; 
}

