#searchbar-input {
    border-radius: 25px;
}

.top-bar {
    display: grid; 
    grid-template-columns: repeat(20, 1fr); 
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000; 
    opacity: 0.75;
    margin: 0; 
    padding: 0; 
}

#google-logo {
    position: relative;
    top: 100px; 
}